body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.donate-menu-one {
    background-image: url(images/donation4.jpg );
    background-repeat: no-repeat;
    background-size: 100% 500px;
}


.donate-element {
    text-align: center;
    padding: 80px;
    color: white;
}

.donate-btn {
    background-color: rgb(223, 44, 13);
    color: white;
    padding: 8px 13px 8px 13px;
    border-radius: 6px;
}

.donate-amout-menu {

    text-align: center;
    margin: 40px;
}

.donate-amout-items {
    display: flex;
    justify-content: space-between;


}

.donate-amout-items li {
    list-style: none;
    border: 1px solid grey;
    padding: 25px 10px;
    margin: 10px 5px;
    border-radius: 4px;

}

.amount-option {
    color: red;
    background-color: #ff7f50;

}

.donate-amount-inp {
    width: 100%;
    text-align: center;
    border-right: none;
    border-left: none;
    border-top: none;
    margin: 20px 0 10px 0;
}

.donate-amn-btn {
    background-color: rgb(223, 44, 13);
    padding: 7px 12px 7px 12px;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}

.our-donate-plan-menu {
    width: 100%;
    margin: 5px 30px;
}

.our-donate-plan-discn {

    text-align: center;
}

.donate-plan-items {
    display: flex;
    justify-content: center;
    margin: 10px 20px;
}

#plan-one {
    background-color: lightgray;
    margin: 10px;
    padding: 40px 20px 5px;
}

#plan-two {
    background-color: lightpink;
    margin: 10px;
    padding: 40px 20px 5px;
}

#plan-three {
    background-color: moccasin;
    margin: 10px;
    padding: 40px 20px 5px;
}

.reletive-poor {
    margin: 50px 10px;
    text-align: center;
}

.reletive-poor-elmt {
    display: flex;
    justify-content: space-between;
    margin: 30px 5px 20px;
}

.reletive-poor-elmt-left {
    margin-right: 10px;
}

.reletive-poor-elmt-right {
    margin-right: 10px;
}


.page-updtp-menu {
    text-align: center;
    margin-bottom: 40px;

}

.page-updtp-btn-inp {
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    margin: 20px 80px;
    padding: 40px 30px;
}

.page-updtp-child {
    background-color: rgb(228, 42, 9);

}

.footer-menu {


    text-align: center;
    background-color: black;

    color: white;
    padding: 20px 0 30px;
}

#footer-items {
    color: red;
    padding: 10px 0;
}